@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply w-full h-screen bg-gray-200 dark:bg-black text-black dark:text-white flex justify-center items-center;
    }
}

@layer compoenets {
    .div-section {
        @apply w-[60%] h-75 flex justify-center items-center gap-5 flex-col bg-gray-100 dark:bg-zinc-900 rounded-xl p-10 relative;
    }

    .btn-style {
        @apply px-3 py-2 rounded-xl cursor-pointer font-semibold border-2;
    }
}