@import "tailwindcss";

@layer base {
    body {
        @apply w-full bg-black text-white;
    }
}

@layer components {
    .back-btn {
        @apply border-2 border-orange-600 text-orange-600 rounded-xl p-1 px-3 cursor-pointer hover:text-white hover:bg-orange-600 hover:border-white transition-colors duration-300 flex gap-2 items-center;
    }

    .input-field {
        @apply flex flex-col gap-3 justify-center items-start border-2 border-purple-600/50 rounded relative transition duration-300;
    }

    .input-style {
        @apply w-full h-full outline-none rounded p-2 transition duration-300 z-10;
    }

    .btn-style {
        @apply w-full bg-purple-600 hover:bg-purple-700 transition-colors cursor-pointer font-semibold p-3 rounded mt-3 duration-300;
    }

    .label-style {
        @apply absolute top-[20%] left-3 text-gray-400 text-sm bg-zinc-900 p-0.5 transition;
    }
}

@layer input-style {

    input.input-style:focus + label.label-style,
    input.input-style:not(:placeholder-shown) + label.label-style {
        @apply top-[-13px] text-purple-600/80;
    }
}